<?xml version="1.0" encoding="utf-8"?>
<configuration>
		<startup> 
				<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
		</startup>
	<connectionStrings>
		<add name="WiseDB" connectionString="Data Source=GESQL01,8194;Initial Catalog=WiseDB;Integrated Security=False;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
		<add name="Ecoprogram" connectionString="Data Source=GESQL01,8194;Initial Catalog=Ecoprogram;Integrated Security=False;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
		<add name="WiseDB2" connectionString="Data Source=GESQL01,8194;Initial Catalog=WiseDB;Integrated Security=False;MultipleActiveResultSets=false;" providerName="System.Data.SqlClient" />
		<add name="CLAIMSITC" connectionString="Data Source=GESQL01,8194;Initial Catalog=CLAIMSITC;Integrated Security=False;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

		<add name="AUTOSDU" connectionString="Data Source=GESQL01,8194;Initial Catalog=AUTOSDU;Integrated Security=False;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />

	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>